* {
  /* background-color: #282c34; */
  font-family: 'Helvetica';
}

body {
  background: rgb(78, 117, 108);
  background: linear-gradient(
    180deg,
    rgba(78, 117, 108, 1) 0%,
    rgba(50, 76, 72, 1) 100%
  );
}

.settings {
  /* color: white; */
  font-size: large;
  width: 80%;
  margin: 10% 10%;
}
